{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="vh-50 gradient-custom">
  <div class="container py-5 h-70">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-light text-dark" style="border-radius: 1rem; border: solid 1px black; ">
          <div class="card-body p-5 text-center">

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">LOGIN</h1>
    <p class="text-black-50 mb-5">Please enter your username and password!</p>
    <div class="form-outline form-white mb-2">
        <input class="form-control" type="text" value="{{ last_username }}" 
        name="username" id="inputUsername" autocomplete="username" placeholder="Username" required autofocus>
    </div>
    <div class="form-outline form-white mb-2">
        <input class="form-control" type="password" name="password" 
        id="inputPassword" autocomplete="current-password" placeholder="Password" required>
    </div>
    <p class="small mb-3 pb-lg-2">Don't have an account?<a class="text-black-50" href="{{ path('app_register') }}"> Register here!</a></p>
    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    
    <button class="btn btn-outline-dark btn-lg px-5" type="submit">Login</button>
</form>
</div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
