{% extends 'admin.html.twig' %}

{# {% block title %}Customer index{% endblock %} #}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1100px; width: 90%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    td, th, a{ font-size: 12px}
</style>

<div class="example-wrapper">
    <h2>Customer Information</h2>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                {# <th>Roles</th>
                <th>Password</th> #}
                <th>CusName</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Date</th>
                {# <th>State</th>
                <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.username }}</td>
                {# <td>{{ customer.roles ? customer.roles|json_encode : '' }}</td> #}
                {# <td>{{ customer.password }}</td> #}
                <td>{{ customer.cusName }}</td>
                <td>{{ customer.gender }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.telephone }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.date ? customer.date|date('d-m-Y') : '' }}</td>
                {# <td>{{ customer.status ? 'Yes' : 'No' }}</td> #}
                {# <td>
                    <a href="{{ path('app_customer_show', {'id': customer.id}) }}">show</a>
                    <a href="{{ path('app_customer_edit', {'id': customer.id}) }}">edit</a>
                </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
    {# <a href="{{ path('app_customer_new') }}">Create new</a> #}
{% endblock %}