{% extends 'admin.html.twig' %}

{# {% block title %}Product{% endblock %} #}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1100px; width: 90%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    td, th, a, label{ font-size: 12px}
</style>

<div class="example-wrapper">
    <h2>Product</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>${{ product.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ product.date ? product.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img
                src="/uploads/images/{{ product.image }}"
                class="card-img-top"
                alt="{{ product.name }}" style="margin: auto; width: max-content;" height="250px"/></td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.status ? 'Active' : 'Inactive' }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_product_index') }}" type="button" class="btn btn-outline-secondary">Back to list</a>
    <a href="{{ path('app_product_edit', {'id': product.id}) }}" type="button" class="btn btn-outline-secondary">Edit</a>

    {{ include('product/_delete_form.html.twig') }}
</div>
{% endblock %}
