{% extends 'base.html.twig' %}

{# {% block title %}Hello SearchController!{% endblock %} #}

{% block body %}
<div class="container mt-3">
  <h2>Result</h2>
  <div class="row">
  {% for product in search %}
      <div class="col-md-4">
            <div class="card">
                <img
                src="/uploads/images/{{ product.image }}"
                class="card-img-top"
                alt="{{ product.name }}" style="margin: auto; width: max-content;" height="250px"/>
                <div class="card-body">
                <a href="{{ path('app_product_detail', {'id': product.id})  }}" class="text-decoration-none">
                <h5 class="card-title">{{ product.name }}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted"><span>&#36;</span>{{ product.price }}</h6>
                <a href="" 
                class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
      </div>
    {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
    {% endfor %}
  </div>
</div>
{% endblock %}
