<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/starter-template/">
    <title>{% block title %}LDTShop{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <!-- TOP HEADER -->
    <header>
		<div id="top-header">
			<div class="container">
				<ul class="header-links float-left">
					<li><a href="#"><i class="bi bi-telephone-fill"></i> +84999-99-99-99</a></li>
					<li><a href="#"><i class="bi bi-envelope"></i> ldtshop@email.com</a></li>
					<li><a href="#"><i class="bi bi-geo-alt-fill"></i> Can Tho</a></li>
					<li><a href="#"><i class="bi bi-facebook"></i>Facebook</a></li>
				</ul>
                <ul class="header-links float-right">
                    {% if app.user %}
                        <div class="mb-3">
                            Welcome {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}"> Logout</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_product_index') }}"> || <i class="bi bi-gear-fill">Administration</i></a>
                    {% endif %}
                        </div>
                    {% else %}
                        <li><a href="{{ path('app_login') }}"><i class="bi bi-person-fill"></i> Login</a></li>
                        <li><a href="{{ path('app_register') }}"><i class="bi bi-person"></i> Register</a></li>
                    {% endif %}
                </ul>
			</div>
		</div>
    </header>
		<!-- /TOP HEADER -->
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home_page') }}"><img src="/images/logo_size.jpg" alt="logo" width="120px" height="80px"/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home_page') }}" style="color:black">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home_product_new') }}" style="color:black">New Product</a>
                    </li>
                    {% if app.user %}
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_show_cart', {'username': app.user.userIdentifier}) }}" style="color:black">Cart</a>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_cart_page') }}" style="color:black">Cart</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutus" style="color:black">About us</a>
                    </li>
                    {% if app.user %}
                    {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" 
                        href="{{ path('app_customer_account', {'username': app.user.userIdentifier}) }}"
                         style="color:black">Your Account</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    
                </ul>
                <div class="navbar-nav ms-auto">
                  <li class="nav-item">
                        <form class="d-flex input-group w-auto" action="/search" method="GET">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"
                            value=""  required>
                            <button class="btn btn-outline-success" type="submit" >Search</button>
                            <!-- <input type="submit" value="Search" class="btn btn-outline-secondary"> -->
                        </form>
                    </li>  
                </div>
            </div>
        </div>
    </nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">{{ flash_message }}</div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger">{{ flash_message }}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
</div><!-- /.container -->

    {% block javascripts %}{% endblock %}
    {% block footer %}
        <footer id="footer">
		<!-- top footer -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 id="aboutus" class="footer-title">About Us</h3>
							<p style="text-align:justify;">LDTShop put our continued success down to knowing
                             what consumers and businesses need and having an extensive 
                             range of the best phone for customers. LDTShop is committed
                              to providing excellent customer service and we aim to provide
                             accurate and useful product advice to customers through our website.</p>
						</div>
					</div>

					{# <div class="clearfix visible-xs"></div> #}

					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">User</h3>
							<ul class="footer-links">
								{# <li><a href="?ID=profile&ma=<?php echo $_SESSION['TaiKhoan']; ?>">Tài Khoản</a></li> #}
                                {# <li><a href="?ID=Giohang">Thông Tin Giỏ Hàng</a></li> #}
                                <li><a href="#">The Information Of Acount</a></li>
								<li><a href="#">The Informatiob Of Cart</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-4 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Contact</h3>
							<ul class="footer-links">
								<li><a href="#"><i class="bi bi-facebook"></i>Facebook</a></li>
								<li><a href="#"><i class="bi bi-geo-alt-fill"></i>Can Tho</a></li>
								<li><a href="#"><i class="bi bi-telephone-fill"></i>+84999-99-99-99</a></li>
								<li><a href="#"><i class="bi bi-envelope"></i>ldtshop@gmail.com</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->

		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 Copyright:
                    <a class="text-white" href="#">ldtshop@gmail.com</a>
                </div>
                <!-- Copyright -->
			
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->
    {% endblock %}
</body>
</html>


