{% extends 'admin.html.twig' %}

{# {% block title %}Hello OrdersController!{% endblock %} #}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1100px; width: 90%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    td, th, a{ font-size: 12px}
</style>

<div class="example-wrapper">
    <h2>Orders</h2>
    {# <a href="{{ path('app_orders_index') }}" type="button" class="btn btn-outline-success">Detail</a> #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Order Date</th>
                <th>Delivery Date</th>
                <th>Address</th>
                <th>Payment</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for o in orders %}
            <tr>
                <td>{{ o.id }}</td>
                <td>{{ o.username }}</td>
                <td>{{ o.orderDate ? o.orderDate|date('d-m-Y') : '' }}</td>
                <td>{{ o.deliveryDate ? o.deliveryDate|date('d-m-Y') : '' }}</td>
                <td>{{ o.address }}</td>
                <td>{{ o.payment }}</td>
                <td>{{ o.status }}</td>
                <td>
                    <button type="button" class="btn btn-outline-secondary">
                    <a href="{{ path('app_orders_detail',{'id': o.id}) }}">Detail</a></button>
                    <button type="button" class="btn btn-outline-secondary">
                    <a href="{{ path('app_orders_edit',{'id': o.id}) }}">Update</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
